#page-auction-detail {
  width: 100vw;
  height: 100vh;
}

#page-auction-detail .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-auction-detail main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem auto;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-auction-detail main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-auction-detail main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-auction-detail main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#page-auction-detail main fieldset table {
  width: 100%;
  text-align: center;
}

#page-auction-detail main fieldset table .rowHead{
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-primary);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;  
}

#page-auction-detail main fieldset table .rowHead th{
  color: var(--color-button-text);
  text-align: center;
}


#page-auction-detail main fieldset table .rowData{
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;    
}

#page-auction-detail main fieldset table .rowData a{
  cursor: pointer;
}

#page-auction-detail main fieldset table .rowData:hover {
  background-color: var(--color-primary-lighter);
}

#page-auction-detail main fieldset legend span {
  margin-right: 2.4rem;
}

#page-auction-detail main fieldset legend button {
  background: none;
  border: 0;
  color: var(--color-primary);
  font: 700 1.6rem Archivo;
  cursor: pointer;
  transition: color 0.2s;
}

#page-auction-detail main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#page-auction-detail main fieldset .input-block + .textarea-block,
#page-auction-detail main fieldset .select-block + .input-block {
  margin-top: 2.4rem;
}

#page-auction-detail main label {
  color: var(--color-text-complement);
}

#page-auction-detail main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
}

#page-auction-detail main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}

#page-auction-detail main footer p img {
  margin-right: 2rem;
}

#page-auction-detail main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#page-auction-detail main footer button:hover {
  background-color: var(--color-secundary-dark);
}

@media (min-width: 700px) {
  #page-auction-detail {
    max-width: 100vw;
  }

  #page-auction-detail .page-header .header-content {
    margin-bottom: 0;
  }

  #page-auction-detail main fieldset {
    padding: 0 6.4rem;
  }

  #page-auction-detail main .auction-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
  }

  #page-auction-detail main .auction-item .input-block {
    margin-top: 0 !important;
  }

  #page-auction-detail main footer {
    padding: 4rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-auction-detail main footer p {
    justify-content: space-between;
  }

  #page-auction-detail main footer button {
    width: 20rem;
    margin-top: 0;
  }
}  